!!!
html
  head
    title= title
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          .brand Venkat's Blog
          form.pull-right(method="get", id="homePage")

    .container
      .row
        .hero-unit
          h1 Life changes, Memories don't!

 

          

     