.hero-unit{
	background-color: #FEF5CA;
}


.hero-unit h1 {
  margin-top: 15px;
  margin-bottom: 2px;
  font-size: 45px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
  font-family: waterfalls;
}

body {
    background-color: #FEF5CA;
}

.container {
    background-color: transparent;
}

